/* purgecss start ignore */
@tailwind base;

@tailwind components;
/* purgecss end ignore */
@tailwind utilities;

/* purgecss start ignore */
html {
  @apply antialiased;
}

#nounish_button:hover {
  -webkit-transform: scale(1.075);
  transform: scale(1.075);
}

#nounish_button:active {
  -webkit-transform: scale(.92);
  transform: scale(.92);
}

#nounish_button {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-animation: nounish-button 2s infinite;
  animation: nounish-button 2s infinite;
  animation-duration: 2s;
  animation-timing-function: ease;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-fill-mode: none;
  animation-play-state: running;
  animation-name: nounish-button;
  background-color: rgb(9, 9, 17);
  border-radius: 18px;
  -webkit-box-shadow: 0 5px 15px rgba(13, 20, 20, 0.4), 0 10px 30px rgb(37 41 46 / 20%);
  box-shadow: 0 5px 15px rgba(23, 38, 39, 0.4), 0 10px 30px rgb(37 41 46 / 20%);
  cursor: pointer;
  // display: block;
  // height: 63px;
  margin: 0 12px 24px;
  position: relative;
  -webkit-transition: .125s ease;
  transition: .125s ease;
  // width: 177px;
  z-index: 2;
}
